__pycache__
.env
.vscode
output
chat_resume/templates/*_resume.tex
chat_resume/templates/*_resume.pdf
chat_resume/templates/*_resume.out
chat_resume/templates/*_resume.log
chat_resume/templates/*_resume.aux