__pycache__
.env
.vscode
output
resume_tailor/templates/*_resume.tex
resume_tailor/templates/*_resume.pdf
resume_tailor/templates/*_resume.out
resume_tailor/templates/*_resume.log
resume_tailor/templates/*_resume.aux
resume_tailor/download_Llama2_and_BigDL_optimize.py