__pycache__
.env
.vscode
.idea
output
chat_resume/templates/*_resume.tex
chat_resume/templates/*_resume.pdf
chat_resume/templates/*_resume.out
chat_resume/templates/*_resume.log
chat_resume/templates/*_resume.aux
chat_resume/download_Llama2_and_BigDL_optimize.py